@import "tailwindcss";

@theme {
  --color-background: #252525;
  --color-section: #1e1e1e;
  --color-card: #3a3a3a;

  --color-primary: #f5f5f5;
  --color-secondary: #a3a3a3;

  --color-accent: #00b74f;
  --color-accent-light: #19d66b;

  --font-sans: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #252525;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}